body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/934/704/large_2x/abstract-neon-light-gaming-background-generated-by-ai-free-photo.jpg");
  /* bksize= auto,cover(scale the image, may crop), contain(full image fit inside element, may have empty space) */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
nav {
      display: flex;
      position:absolute;
      top: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      background-color: rgb(23, 22, 22);
      box-shadow: inset 0 -2px 5px black;
      font-family: Arial, sans-serif;
    }

.wrap {
  width: 800px;
  border: 2px solid #222;
  border-radius: 12px;
  box-shadow: 0 0 25px black;
  overflow: hidden;
}

.hud {
  height: 60px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  
  /* shadow appears inside the block offset-x, y(-ve=> up) blur-radius  */
}

.title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  color: lightblue;
}

.badge {
  background: rgb(41, 40, 40);
  padding: 5px 12px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 0 6px rgba(255,255,255,0.1);
}

.game {
  width: 800px;
  height: 400px;
  position: relative;
  /* positions- static(default), relative(to its own pos) */
  /* absolute- relative to nearest parent , fixed- fixed in place(rel to vp)*/
  /* sticky */
  background: linear-gradient(to left, #00111f, #00051a);
  overflow: hidden;
}

/* Subtle moving stars */
/* Pseudo-elements=> Virtual content created using css placed wrt to particular element */
/* Here, pseudo class starts is placed before game */
.game::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  animation: stars 5s linear infinite;
  opacity: 0.15;
}

@keyframes stars {
  from { transform: translate(0, 0); }
  to { transform: translate(-80px, 0); }
}

#player {
  width: 30px;
  height: 30px;
  background: cyan;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  /* transition: property duration time-fxn delay */
  /* time-fxn- linear, ease in, ease out, ease-in-out */
  /* cubic-bezier- (t1,x1,t2,x2); -(0,0) mean at 0%,0% and (1,1) means 100%,100% */
  /*  explanation of last one- starts slow, moves fast and then slows down */
  transition: bottom 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 0 12px lightblue;
}

#obstacle {
  width: 30px;
  height: 40px;
  background: red;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 0;
  /* This animation makes the block move from right to left in every 2.5s */
  animation: move 2.5s linear infinite;
  box-shadow: 0 0 10px #f44336;
}
/* The @keyframes rule defines a set of styles that an element should go through during an animation.
U can assume it as a CSS fxx */
@keyframes move {
  /* Why right- -40px; since block's already of 30px and 10px acts as buffer */
  from { right: -40px; }
  /* 800px, game area weidth and 30px length and 20px buffer */
  to { right: 850px; }
}

#ground {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  height: 1px;
  background: lightgreen;
  border-top: 1px solid green;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 400px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 0 0 12px 12px;
  /* Since this overlay needs to be above the game(even though js has precaution still)
  we are using z-index to position it above the game */
  z-index: 10;
  background-image: url("https://res.cloudinary.com/dphysyfkt/image/upload/v1756571559/Neon_Video_Game_Controllers_Cluster_cywfp8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
/* Overlay button styles */
.overlay button {
  margin-top: 20px;
  padding: 10px 22px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: skyblue;
  color: black;
  font-weight: bold;
  /* ease is same as ease-in-out */
  /* starts slow --> speed up --> again slows down */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.overlay button:hover {
  /* translateX--> moves right */
  /* translateY--> moves down */
  /* Can explain for translate fxn here */
  transform: translateY(-2px);
  box-shadow: 0 6px 15px skyblue;
}